<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Register URL - TinyApp Example</title>

</head>
<body>
  <% include ./partials/_header_registration %>

  <div style="margin: 1em">

    <h3>Welcome, new user!</h3>
    <form method="POST" action="/register">
     <label for="email"> Username here:</label>
      <input type="email" name="chosenUsername" style="width: 300px; margin: 1em" class = "form-control" placeholder="email">
      <label for="password">Password:</label>
      <input name="chosenPassword" style="width: 300px; margin: 1em" class="form-control" type="password"  placeholder="Putin is watching you" name="password">
      <input class="btn btn-primary" value="Register" type="submit" style="margin: 1em">
    </form>

  </div>

</body>

</html>
